*.py[cod]
__pycache__/
*.pyo
*.pyd
*.pyd

.venv/
venv/
ENV/
env/

*.sqlite3

*.log
*.pot
*.mo
*.pickle
*.bak
*.swp
*.tmp
*.old
*.orig
*.rej

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

*.~*
*.temp

htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py

*.env
docker-compose.override.yml

build/
dist/
*.egg-info/

staticfiles/
media/